{
  "env": {
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": true
    }],
    "react/forbid-foreign-prop-types": 0,
  }
}
